html {
    background-color: #830;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ded;
    width: 60rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
div.league, div.cs2 {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50px;
    margin: 1rem;
}

a.game {
  display: flex;
  justify-content: center;
  background-color: #2563eb;
  width: 100%;        
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}


td {
  border: 1px solid;
  padding: 10px;
}
