<form action="/cards/<%= category.id %>/new" method="POST">
  <div>
    <label for="card_front">Awers</label>
    <input type="text" name="front" id="card_front" required maxlength="500" value="<%= front || '' %>">
  </div>
  <div>
    <label for="card_back">Rewers</label>
    <input type="text" name="back" id="card_back" required maxlength="500" value="<%= back || '' %>">
  </div>
  <button type="submit">Dodaj</button>
</form>