<form action="/cards/<%= category.id %>/swap" method="POST">
  <div>
    <label for="card_id">Wybierz fiszkę do zamiany</label>
    <select name="id" id="card_id">
      <% category.cards.forEach(card => { %>
        <option value="<%= card.id %>"><%= card.front %> - <%= card.back %></option>
      <% }) %>
    </select>
  </div>

  <div>
    <label for="new_front">Nowy awers</label>
    <input type="text" name="front" id="new_front" required maxlength="500"/>
  </div>

  <div>
    <label for="new_back">Nowy rewers</label>
    <input type="text" name="back" id="new_back" required maxlength="500"/>
  </div>

  <button>Zamień fiszkę</button>
</form>